.accountDropdown {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: #1f1f1f;
    z-index: 999;
    min-width: 250px;
    img {
        border-radius: 50%;
    }
    p {
        margin: 0;
    }
    div {
        align-items: center;
    }
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    font-weight: 700;
    color: #f1f1f1;
    overflow: hidden;
    span {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    hr {
        border-color: #4d4d4d;
    }
}
.gsvg {
    height: 15px;
    margin-bottom: 3px;
    margin-right: 3px;
}