@import '../styles/variables.scss';

.pinned {
    border: 2px solid $purple;
    margin-bottom: 10px;
    background-color: rgb(19, 19, 19) !important;
    svg .fa-thumbtack {
        color: $purple;
    }
    li {
        border-bottom: 1px solid $purple;
        font-weight: 500;
    }
}

.pinLogo {
    position: absolute;
    right: 10px;
    top: 5px;
    transform: rotate(45deg);
    svg {
        font-size: 1.2rem;
        color: #b7b7b7;
    }
}

.listContainer {
    overflow-y: auto;
    max-height: 80vh;
    background-color: transparent !important;
}