.plusBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(18, 73, 18) !important;
    outline: none !important;
}