.project {
    @media(max-width: 426px) {
        min-width: 150px;
        margin-right: 10px;
        width: fit-content !important;
        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.project.active {
    background-color: #333;
    color: #fff !important;
}